# OpenAPI Specification for Identifiers.org Registry API Service
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
openapi: 3.0.0
servers:
  - url: 'http://registry.api.identifiers.org/'
    description: Main endpoint for this service
  - url: 'http://registry.api.gcloud.identifiers.org/'
    description: Google Cloud API Service endpoint
  - url: 'http://registry.api.aws.identifiers.org/'
    description: AWS API Service endpoint
info:
  description:
    Identifiers.org Registry Web Service, for registration of new _prefixes_.
    This Web Service is also open source, released under MIT license on
    https://github.com/identifiers-org/cloud-ws-register](GitHub). To find out
    more about Identifiers.org, please, visit our main website at
    [http://identifiers.org](identifiers.org)
  version: "1.0"
  title: Identifiers.org Prefix Registration Service
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use
  contact:
    name: Manuel Bernal Llinares
    url: http://identifiers.org
    email: mbdebian@gmail.com
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
paths:
  /:
    post:
      tags:
        - registrationAPI
      summary: Request the registration of a new prefix
      operationId: registerPrefix
      responses:
        '200':
          description:
            The prefix registration request has been validated, and it will be
            reviewed by a curator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
        '400':
          description:
            The request has been rejected because the prefix cannot be
            registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
        '500':
          description:
            An error occurred while trying to check if the prefix registration
            request is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefix'
        description:
          Registration request object regarding the prefix that is being to be
          registered
        required: true
  /validateRegisterPrefixName:
    post:
      summary: Request validation of 'name' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'name' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'name' needs to be filled in
      responses:
        '200':
          description: The given 'name' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'name' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixDescription:
    post:
      summary: Request validation of 'description' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'description' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'description' needs to be filled in
      responses:
        '200':
          description: The given 'description' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'description' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixHomePage:
    post:
      summary: Request validation of 'home page' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'home page' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'homePage' needs to be filled in
      responses:
        '200':
          description: The given 'home page' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'home page' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixOrganization:
    post:
      summary: Request validation of 'organization' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'organization' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'organization' needs to be filled in
      responses:
        '200':
          description: The given 'organization' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'organization' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixPreferredPrefix:
    post:
      summary: Request validation of 'preferred prefix' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'preferred prefix' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'preferredPrefix' needs to be filled in
      responses:
        '200':
          description: The given 'preferred prefix' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'preferred prefix' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixResourceAccessRule:
    post:
      summary: Request validation of 'resource access rule' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'resource access rule' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only field 'accessRule' needs to be filled in
      responses:
        '200':
          description: The given 'resource access rule' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'resource access rule' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixExampleIdentifier:
    post:
      summary: Request validation of 'example identifier' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'example identifier' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: To validate an example identifier, information on resource access rule and regular expression
               is needed
      responses:
        '200':
          description: The given 'example identifier' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'example identifier' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixRegexPattern:
    post:
      summary: Request validation of 'regex pattern' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'regex pattern' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: To validate the regular expression, information on a sample identifier is needed
      responses:
        '200':
          description: The given 'regex pattern' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'regex pattern' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixReferences:
    post:
      summary: Request validation of 'prefix references' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'prefix references' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only references information is needed to validate this
      responses:
        '200':
          description: The given 'prefix references' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'prefix references' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixAdditionalInformation:
    post:
      summary: Request validation of 'additional information' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'additional information' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description: Only the additional information field is needed to run this validation
      responses:
        '200':
          description: The given 'additional information' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'additional information' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
  /validateRegisterPrefixRequester:
    post:
      summary: Request validation of 'requester' within the context of a prefix validation request
      operationId: validateRegisterPrefixName
      tags:
        - validationAPI
      requestBody:
        description: Request body for validation of 'requester' within the context of a prefix validation request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestValidate'
              description:
                Information on the requester of the prefix registration request is the only one needed to run this
                validation
      responses:
        '200':
          description: The given 'requester' has been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '400':
          description: The given 'requester' has NOT been validated within the context of a prefix validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
        '500':
          description: An error occurred while trying to run the validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseValidateRequest'
components:
  schemas:
    ServiceRequest:
      type: object
      required:
        - apiVersion
        - payload
      properties:
        apiVersion:
          type: string
          example: 1.0
          description: API version used in this request
        payload:
          type: object
          description: This is the payload associated with the particular request made
    ServiceRequestRegisterPrefix:
      allOf:
        - $ref: '#/components/schemas/ServiceRequest'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefixPayload'
    ServiceRequestValidate:
      allOf:
        - $ref: '#/components/schemas/ServiceRequest'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefixPayload'
    ServiceRequestRegisterPrefixPayload:
      type: object
      required:
        - name
        - description
        - homePage
        - organization
        - preferredPrefix
        - resourceAccessRule
        - exampleIdentifier
        - regexPattern
        - additionalInformation
        - requester
        - references
      properties:
        name:
          type: string
          example: My New Prefix / Namespace
          description: Some meaningful name for this request
        description:
          type: string
          example:
            Welcome to my newly registered namespace, that I'm using as an example
          description: 'A description for this request that is, at least, 50 characters long'
        homePage:
          type: string
          example: 'http://cloud.identifiers.org'
          description: A URL describing the resource
        organization:
          type: string
          example: 'The European Bioinformatics Institute, Hinxton, Cambridgeshire, UK'
          description: The name of the providing organization
        preferredPrefix:
          type: string
          example: myprefix
          description:
            Character string meant to precede the colon in resolved identifiers.
            No spaces or punctuation, only letters, numbers and underscores, and
            it must start with a letter
        resourceAccessRule:
          type: string
          example: 'http://httpstat.us/{$id}'
          description:
            A URL-like string specifying a rule for resolving this class of
            identifier. This rule should contain the substring '{$id}', which is
            a placeholder for the local identifier
        exampleIdentifier:
          type: string
          example: 200
          description: An example identifier
        regexPattern:
          type: string
          example: '^\d+$'
          description:
            A regular expression specifying the form of string expected for this
            identifier
        additionalInformation:
          type: string
          example: This is additional information on my new prefix registration request
          description: Anything else you wish to tell or ask us
        requester:
          $ref: '#/components/schemas/RequesterDetails'
        references:
          type: array
          items:
            type: string
          example: ['reference A', 'reference B']
          description:
            References (URLs, citations), if any, to published work describing
            the resource
    RequesterDetails:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: John Doe
          description: Name of the requester
        email:
          type: string
          example: john.doe@email.com
          description:
            An email address to notify if there are any issues with the
            registration
    ServiceRequestCheckPrefixRegistrationStatusPayload:
        type: object
        properties:
            prefix:
                type: string
                description: The prefix about which we want to check its registration status
                example: chebi
            token:
                type: string
                description: This is the token given to the client when requesting the prefix registration
                example: 44d93144-3f21-458b-b6fe-747801e6584c
    ServiceResponseRegisterPrefixPayload:
      type: object
      properties:
        comment:
          type: string
          description:
            Any comment regarding the operation completion
    ServiceResponseRegisterPrefix:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponseValidateRequest:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponse:
      type: object
      properties:
        apiVersion:
          type: string
          description:
            Service API version context of this response
        errorMessage:
          type: string
          description:
            A series of possible error messages regarding the validation of the
            different request attributes, or 'null' if the request has been
            validated
        payload:
          type: object
