# OpenAPI Specification for Identifiers.org Registry API Service
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
openapi: 3.0.0
servers:
  - url: 'http://registry.api.identifiers.org/'
    description: Main endpoint for this service
  - url: 'http://registry.api.gcloud.identifiers.org/'
    description: Google Cloud API Service endpoint
  - url: 'http://registry.api.aws.identifiers.org/'
    description: AWS API Service endpoint
info:
  description:
    Identifiers.org Registry Web Service, for registration of new _prefixes_.
    This Web Service is also open source, released under MIT license on
    https://github.com/identifiers-org/cloud-ws-register](GitHub). To find out
    more about Identifiers.org, please, visit our main website at
    [http://identifiers.org](identifiers.org)
  version: "1.0"
  title: Identifiers.org Prefix Registration Service
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use
  contact:
    name: Manuel Bernal Llinares
    url: http://identifiers.org
    email: mbdebian@gmail.com
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
paths:
  /:
    post:
      tags:
        - prefixRegistration
      summary: Request the registration of a new prefix
      operationId: registerPrefix
      responses:
        '200':
          description:
            The prefix registration request has been validated, and it will be
            reviewed by a curator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
        '400':
          description:
            The request has been rejected because the prefix cannot be
            registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
        '500':
          description:
            An error occurred while trying to check if the prefix registration
            request is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseRegisterPrefix'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefix'
        description:
          Registration request object regarding the prefix that is being to be
          registered
        required: true
  /validateRegisterPrefixName:
  # TODO
  /validateRegisterPrefixDescription:
  # TODO
  /validateRegisterPrefixHomePage:
  # TODO
  /validateRegisterPrefixOrganization:
  # TODO
  /validateRegisterPrefixPreferredPrefix:
  # TODO
  /validateRegisterPrefixResourceAccessRule:
  # TODO
  /validateRegisterPrefixExampleIdentifier:
  # TODO
  /validateRegisterPrefixRegexPattern:
  # TODO
  /validateRegisterPrefixReferences:
  # TODO
  /validateRegisterPrefixAdditionalInformation:
  # TODO
  /validateRegisterPrefixRequester:
  # TODO
# TODO - paths section
components:
  schemas:
    ServiceRequest:
      type: object
      required:
        - apiVersion
        - payload
      properties:
        apiVersion:
          type: string
          example: 1.0
          description: API version used in this request
        payload:
          type: object
          description: This is the payload associated with the particular request made
    ServiceRequestRegisterPrefix:
      allOf:
        - $ref: '#/components/schemas/ServiceRequest'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefixPayload'
    ServiceRequestValidate:
      allOf:
        - $ref: '#/components/schemas/ServiceRequest'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceRequestRegisterPrefixPayload'
    ServiceRequestRegisterPrefixPayload:
      type: object
      required:
        - name
        - description
        - homePage
        - organization
        - preferredPrefix
        - resourceAccessRule
        - exampleIdentifier
        - regexPattern
        - additionalInformation
        - requester
        - references
      properties:
        name:
          type: string
          example: Protein Data Bank
          description: Some meaningful name for this request
        description:
          type: string
          example:
            The Protein Data Bank is the single worldwide archive of structural
            data of biological macromolecules
          description: 'A description for this request that is, at least, 50 characters long'
        homePage:
          type: string
          example: 'http://www.pdbe.org'
          description: A URL describing the resource
        organization:
          type: string
          example: 'The European Bioinformatics Institute, Hinxton, Cambridgeshire, UK'
          description: The name of the providing organization
        preferredPrefix:
          type: string
          example: pdb
          description:
            Character string meant to precede the colon in resolved identifiers.
            No spaces or punctuation, only letters, numbers and underscores, and
            it must start with a letter
        resourceAccessRule:
          type: string
          example: 'http://www.ebi.ac.uk/pdbe/entry/pdb/{$id}'
          description:
            A URL-like string specifying a rule for resolving this class of
            identifier. This rule should contain the substring '{$id}', which is
            a placeholder for the local identifier
        exampleIdentifier:
          type: string
          example: 2gc4
          description: An example identifier
        regexPattern:
          type: string
          example: '^[0-9][A-Za-z0-9]{3}$'
          description:
            A regular expression specifying the form of string expected for this
            identifier
        additionalInformation:
          type: string
          description: Anything else you wish to tell or ask us
        requester:
          $ref: '#/components/schemas/RequesterDetails'
        references:
          type: array
          xml:
            name: reference
            wrapped: true
          items:
            type: string
          description:
            References (URLs, citations), if any, to published work describing
            the resource
    RequesterDetails:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: John Doe
          description: Name of the requester
        email:
          type: string
          example: john.doe@email.com
          description:
            An email address to notify if there are any issues with the
            registration
    ServiceResponseRegisterPrefixPayload:
      type: object
      properties:
        comment:
          type: string
          description:
            Any comment regarding the operation completion
    ServiceResponseRegisterPrefix:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponseValidateRequest:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponse:
      type: object
      properties:
        apiVersion:
          type: string
          description:
            Service API version context of this response
        errorMessage:
          type: string
          description:
            A series of possible error messages regarding the validation of the
            different request attributes, or 'null' if the request has been
            validated
        payload:
          type: object
