# OpenAPI Specification for Identifiers.org Registry API Service
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
openapi: 3.0.0
servers:
  - url: 'http://registry.api.identifiers.org/'
info:
  description:
    Identifiers.org Registry Web Service, for registration of new _prefixes_.
    This Web Service is also open source, released under MIT license on
    https://github.com/identifiers-org/cloud-ws-register](GitHub). To find out
    more about Identifiers.org, please, visit our main website at
    [http://identifiers.org](identifiers.org)
  version: "1.0"
  title: Identifiers.org Prefix Registration Service
  termsOfService: https://www.ebi.ac.uk/about/terms-of-use
  contact:
    name: Manuel Bernal Llinares
    url: http://identifiers.org
    email: mbdebian@gmail.com
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
# TODO - paths section
components:
  schemas:
    RequesterDetails:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: John Doe
          description: Name of the requester
        email:
          type: string
          example: john.doe@email.com
          description:
            An email address to notify if there are any issues with the
            registration
    ServiceResponseRegisterPrefixPayload:
      type: object
      properties:
        comment:
          type: string
          description:
            Any comment regarding the operation completion
    ServiceResponseRegisterPrefix:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponseValidateRequest:
      allOf:
        - $ref: '#/components/schemas/ServiceResponse'
        - type: object
          properties:
            payload:
              $ref: '#/components/schemas/ServiceResponseRegisterPrefixPayload'
    ServiceResponse:
      type: object
      properties:
        apiVersion:
          type: string
          description:
            Service API version context of this response
        errorMessage:
          type: string
          description:
            A series of possible error messages regarding the validation of the
            different request attributes, or 'null' if the request has been
            validated
